body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    margin-top: 0;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p {
    color: #66BFBF;
    font-weight: normal;
    font-size: 20px;
}

.top-container {
    background-color: #FDF6F0;
    position: relative;
    padding-top: 100px;
}

.сту {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.middle-container {
    
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.profile-img {
    width: 200px;
    border-radius: 50%;
}

.computer-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.ice-cream-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.bottom-container {

}





